.hero-wrapper {
  width: 100%;
  background-color: rgb(12, 12, 12); /* fills left + right */
}

.hero-inner {
  /* max-width: 1800px; */
  margin: 0 auto;
  height: 820px;
  overflow: hidden;
}

.hero-inner img {
  width: 100%;
  height: 100%;
  object-position: 25% 85%;
  object-fit: cover;
  display: block; /* removes inline img spacing */
}

.hero-inner video {
  width: 100%;
  height: 100%;
  object-position: 25% 85%;
  object-fit: cover;
  display: block; /* removes inline img spacing */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  color: #dae6db;
  text-align: center;
}

h2 {
  padding: 0 rem;
} /* This is the text of all h2 elements */

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.hero-section {
  min-height: 20vh;
  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}

.page-bg {
  background-color: rgb(63, 23, 23);
  min-height: 100vh;
}

.content {
  /* max-width: 1100px; */
  margin: 0 auto;
  background-color: #671010;
}


.weathercolor {
  text-shadow: #c1371b 1px 0 10px;
  
}

.navigraph {
  text-shadow: #9b4a0b 1px 0 10px;
}

.card {
  background-color:#fbf6eed3 !important;
}